* {
    padding: 0;
    margin: 0;
}

body{
    background: url('../img/laucher-1.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.man__hinh__start{   
    height: 100vh;
    position: relative;
}

.start__laucher{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 4px 3px 4px black;
    border: 5px solid #e68a00;
    box-shadow: 6px 7px 12px rgb(0 0 0),
                 inset 0 0 24px 15px rgb(0 0 0 / 30%);
    padding: 20px 40px;
    border-radius: 10px;
    position: absolute;
    bottom: 90px;
    left: 43%;
    background:linear-gradient(120deg, #af3f19, #f59677,#af3f19);
    transition: all .3s ease;
    animation: start 2s infinite linear;
}

@keyframes start {
    0%{ 
        transform: scale(1);
    }
    25%{
        transform: scale(1.15);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

.start__laucher:hover{
    cursor:url("../img/cursor/cheese.png"), auto;
    transition: .3s ease;
    text-decoration: none;
    color: #fff;
    background:linear-gradient(120deg, #57c716, #a2fa6e,#57c716);
}

.pet__laucher img:nth-child(1){
    position: absolute;
    top:30%;
    left: 57%;
    width: 160px;
    animation: dog-1 1.5s infinite linear 500ms;
}
.pet__laucher img:nth-child(2){
    position: absolute;
    top:3%;
    left: 25%;
    width: 200px;
    animation: cat-1 2.5s infinite linear 1s;
}

@keyframes dog-1 {
    0%{ 
        transform: scale(1);
    }
    25%{
        transform: scale(1.2) rotateZ(-10deg);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2) rotateZ(10deg);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes cat-1 {
    0%{ 
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(0.7);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.icon__setting{
    position: fixed;
    left: 30px;
    font-size: 28px;
    box-shadow: 0 0 10px #fff;
    bottom: 30px;
    width: 50px;
    border-radius: 50%;
    border: none;
    height: 50px;
    animation: spin 2.5s infinite linear;
    background:#af3f19;
    color:#fff;
    z-index: 100;
}

.icon__setting:hover{
    animation: none;
}

@keyframes spin {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.play-pause{
    position: absolute;
    left: 34px;
    bottom: 102px;
    width: 40px;
    border-radius: 10px;
    border: none;
    height: 40px;
    background:#af3f19;
    color:#fff;
    font-size: 25px;
}

.play-pause::before{
    content: "";
    position: absolute;
    right: 100%;
    top: 40px;
    left: 12px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-top: 14px solid #af3f19;
    border-right: 8px solid transparent;
}
